.galiatDesigns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 3rem;
  overflow: hidden;
  margin-top: 10rem;
  @media (max-width: 901px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.galiatVideos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 3rem;
  overflow: hidden;
  margin-top: 10rem;
  @media (max-width: 901px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
