.donnationDetails {
  display: flex;
  margin-top: 3rem;
  & > * + * {
    margin-right: 4rem;
  }
  &__rightSec {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    &__title {
      font-size: $Font2;
      font-weight: 700;
      align-self: flex-start;
      color: #747474;
    }
    &__subTitle {
      font-size: $Font1;
      font-weight: 500;
      margin: 0.8rem 0;
      align-self: flex-start;
      color: #747474;
    }
    &__inpTitle {
      font-size: $Font1;
      font-weight: 500;
      margin: 0.8rem 0;
      align-self: flex-start;
      color: #747474;
    }
    &__benefactor {
      display: flex;
      width: 100%;
      align-items: center;
      &__title {
        width: 40%;
        border: 1px solid #e1e1e1;
        padding: 0.7rem;
        color: #444444;
        border-radius: 0.4rem;
        font-size: $Font2;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
      }
    }
    input {
      width: 100%;
    }
  }
  &__leftSec {
    flex: 0 0 35%;
    &__imgCont {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 45rem;
      overflow: hidden;
      border: 1px solid #e1e1e1;
      border-radius: 0.5rem;
      margin-top: 1.5rem;
      cursor: pointer;
      img {
        width: 20%;
      }
    }
  }
  @media (max-width: 901px) {
    flex-direction: column-reverse;
    & > * + * {
      margin-bottom: 4rem;
      margin-right: 0;
    }
  }
}
