@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@font-face {
  font-family: "Alarabiya";
  src: url("./Alarabiya\ Font\ Normal.ttf") format("opentype");
  unicode-range: "U+0-10FFFF";
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this define what 1rem is ,, we want >>> 1 rem = 10px; 10px/16px=62.5% <<<
  /*this equal to if we said 10px the reason we make it in % to allow the user
      to zoom over the text if he want and not overwrhight the default font size set by the browser
       that is 16 px for the font -- and we make it 10px at the first place to make it easy to devide 
       or double 10px in the <rem> value in all our component all over the css code*/

  direction: rtl;

  @media (max-width: 1800px) {
    font-size: 65%;
  }

  @media (max-width: 1366px) {
    font-size: 62.5%;
  }

  @media (max-width: 900px) {
    font-size: 60%; //1rem = 10px
  }

  @media (max-width: 540px) {
    font-size: 57.5%;
  }

  @media (min-width: 1800px) {
    //width > 1800?
    font-size: 75%; //1rem = 12px; 12px/16px=75%
  }

  P {
    margin: 0;
  }

  scroll-behavior: auto;
  // padding: 0;
  // margin: 0;
}

body {
  position: relative;
  font-family: "Alarabiya", sans-serif;
  /* font-size: 16px; */
  line-height: 1.7;
  // letter-spacing: 1px;

  box-sizing: border-box;

  // overflow-x: hidden;
  // background-color: #F9F9F9;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #519481;
    border-radius: 0.8rem;
    &:hover {
      background: #277f66;
    }
  }
}

input {
  font-family: "Alarabiya", sans-serif;
  /* font-size: 16px; */
}

button {
  font-family: "Alarabiya", sans-serif;
  /* font-size: 16px; */
}

// to color the marked text
// ::selection {
// }

// ::selection {
//   background-color: #367a8f;
//   color: #471036;
// }

a {
  color: inherit;
  text-decoration: none;
}

audio {
  height: 4rem;

  &:focus {
    outline: none;
  }
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.three-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.four-lines {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.title-bg-green {
  width: 100%;
  background-color: #d3e5e0;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-size: $Font2;
  font-weight: 500;
}

.fade-in {
  animation: fadeIn ease 0.9s;
  -webkit-animation: fadeIn ease 0.9s;
  -moz-animation: fadeIn ease 0.9s;
  -o-animation: fadeIn ease 0.9s;
  -ms-animation: fadeIn ease 0.9s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
