.card-container {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  .upperSec {
    display: flex;
    align-items: center;
    * + * {
      margin-right: 0.8rem;
    }
  }

  .lowerSec {
    margin-top: 1rem;
    color: #b6b6b6;
  }
}
