.logoBar-container {
  width: 100%;
}

.dashboard-logobar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;

  &__rightSection {
    display: flex;
    align-items: center;

    &__logo {
      width: 100%;
      height: 5rem;
      align-self: flex-start;
    }
  }

  &__leftSection {
    display: flex;
    align-items: center;

    img {
      width: 15rem;
      height: 7rem;
    }
  }
}
